.containergraph1{
    background-color: #680747;
    width: 43%;
    height: 400px;
    margin:0rem 55%;
    margin-top: -10.6cm;
    border-radius: 12px;
}
.containerContribuable{
    background-color: #d9f2ff;
    width: 50%;
    height: 400px;
    margin:0rem 3%;
}