*{
    box-sizing: border-box;
}
body{
    margin:0;
    background-color: #e7eaf6;
    position: inherit;
}
.nav{
    background-color:#53a8b6;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 2rem;
    margin:2rem 0;
    border-radius: 7px;
    font-weight: bold;
}
/* .nav,.navl ul{
    padding: 0;
    margin: 1rem 1rem;
    list-style: none;
    display: flex;
    gap: 1rem;
    cursor: pointer;
} */
.nav,.navl  a{
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}
.logodgi{
    font-size:1rem;
    color:#FFFFFF;
}
.nav li:hover{
    color: white ;
}

.navl{
     
    color: #233142;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 2rem;
    margin:2rem 0;
    border-radius: 7px;
    font-weight: bold;
}
.navl a:hover{
    border-bottom: 1px solid #233142;
}
ul{
    padding: 0;
    margin: 1rem 1rem;
    list-style: none;
    display: flex;
    gap: 1rem;
    cursor: pointer;  
}
